@import '~@angular/material/theming';
// Plus imports for other components in your app.

@include mat-core();

$custom-app-primary: mat-palette($mat-indigo);
$custom-app-accent:  mat-palette($mat-pink);
$custom-app-warn:    mat-palette($mat-orange);
$custom-app-theme: mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);

.primaryColorBG {
    background-color: mat-color($custom-app-primary);
    color : white;
    font-size: large;
}

.accentColorBG {
    background-color: mat-color($custom-app-accent);
    color : white;
    font-size: large;
}

.warnColorBG {
    background-color: mat-color($custom-app-warn);
    color : white;
    font-size: large;
}
@include angular-material-theme($custom-app-theme);


$alt-app-primary: mat-palette($mat-red);
$alt-app-accent:  mat-palette($mat-green);
$alt-app-warn:    mat-palette($mat-lime);
$alt-app-theme: mat-light-theme($alt-app-primary, $alt-app-accent, $alt-app-warn);
.alternative{
    @include mat-button-theme($alt-app-theme);
}



